
<div ng-app="" ng-init="name='anJulaRJs'">
    <ul>
        <li><code class="w3-codespan">currency</code> Format a number to a currency format.</li>
        <li><code class="w3-codespan">date</code> Format a date to a specified format.</li>
        <li><code class="w3-codespan">filter</code> Select a subset of items from an array.</li>
        <li><code class="w3-codespan">json</code> Format an object to a JSON string.</li>
        <li><code class="w3-codespan">limitTo</code> Limits an array/string, into a specified number of elements/characters.</li>
        <li><code class="w3-codespan">lowercase</code> Format a string to lower case.</li>
        <li><code class="w3-codespan">number</code> Format a number to a string.</li>
        <li><code class="w3-codespan">orderBy</code> Orders an array by an expression.</li>
        <li><code class="w3-codespan">uppercase</code> Format a string to upper case.</li>

    </ul>
    
    <div>
        <h4>
            {{name|uppercase}}
        </h4>

        
    </div>

    
</div>
