
<h3>Expression can be used to evaluate equation with numeric variables </h3>
<div ng-app="">
    <p>Temerature in Fahrenheat: <input type="text" ng-model="f"></p>

    <h4>Temerature in Celsius: {{(f-32)/1.8}}</h4>
    
    
</div>